<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row style="padding: 5px 0;">
      <ion-col size="2.0" style="padding: 0">
          <ion-button (click)="voltaVitrine()" fill="clear" expand="full" size="small" style="padding: 0; height: 80%;">
            <ion-icon color="dark" slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="8.0" style="padding: 0;">
        <ion-title class="ion-text-center" style="height: 100%;text-transform: uppercase; font-size: 3.1vw; font-weight: 700; padding:0">{{vend.nome}}</ion-title>
      </ion-col>
      <ion-col size="2.0" style="padding:0">
        <ion-button (click)="favoritaVendedor()" fill="clear" expand="full" size="small" style="padding:0; height: 80%;">
          <ion-icon color="warning" slot="icon-only" [name]="isVendFavorito ? 'star' : 'star-outline'"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <img style="margin-top: 25px;height: 30%; width: 50%; margin-left: auto; margin-right: auto; display: block; border-radius: 50%;" src="{{vend.imgUser}}">
  <ion-item lines="none" style="margin-top: 20px;">
    <ion-button (click)="favoritaSegmento()" fill="clear">
      <ion-label style="font-weight: 700; font-size: 3.2vw" color="dark">{{nomeSegmento}}</ion-label>
      <ion-icon style="margin-left: 10px; height: 100%;" color="warning" slot="end" [name]="isSegFavorito ? 'star' : 'star-outline'"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list style="margin-top: 20px;">
    <ion-list-header style="font-size: 6vw; font-weight: 700;">Informações</ion-list-header>
    <ion-item-group style="margin-top: 20px; margin-left: 15px;">
      <ion-item-divider style="padding: 0">
        <ion-label style="font-size: 5vw; color: #000; font-weight: 600;">Endereço</ion-label>
      </ion-item-divider>
      <div style="margin-left: 10px; margin-top: 10px;">
        <ion-label style="font-size: 4vw">{{endereco.logradouro}}, {{endereco.numero}}</ion-label>
        <ion-label style="font-size: 4vw">{{endereco.bairro}}</ion-label>
        <ion-label style="font-size: 4vw">Sorocaba, SP</ion-label>
        <ion-label style="font-size: 4vw">CEP {{endereco.cep}}</ion-label>
        <ion-label style="font-size: 4vw">CNPJ 29.199.120/0001-41</ion-label>
      </div>
      <ion-item-divider style="padding: 0">
        <ion-label style="font-size: 5vw; color: #000; font-weight: 600; margin-top: 30px;">Contato</ion-label>
      </ion-item-divider>
      <div style="margin-left: 10px; margin-top: 10px;">
        <ion-label style="font-size: 4vw" *ngFor="let cont of contatos">({{cont.numDdd}}) {{cont.numContato}}</ion-label>
      </div>
    </ion-item-group>
  </ion-list>
  <div id="mapcontainervend" style="margin: 30px auto;width:90%;height: 40%;"></div>
</ion-content>
