ion-icon {
    color: #f5f5f5
}

.regis {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 28%;
    width: 70%;
};
ion-button#log {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 36%;
    width: 70%;
}
ion-content {
    --background: url('../../../resources/bckg.jpg') center center / cover;
}
ion-item {
    --background: transparent
}
span {
    min-height: 70px;
    color: #f5f5f5;
    font-family: verdana;
    text-shadow: 1px 1px 1px #adacac,
        1px 2px 1px #adacac,
        1px 3px 1px #adacac,
        1px 4px 1px #adacac,
        1px 5px 1px #adacac,
        1px 6px 1px #adacac,
        1px 7px 1px #adacac,
        1px 8px 1px #adacac,
        1px 9px 1px #adacac,
        1px 10px 1px #adacac,
    1px 18px 6px #10101066,
    1px 22px 10px #10101033
}