<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab horizontal="start" vertical="top" slot="fixed">

    <ion-fab-button *ngIf="temEndereco && !isUsaLoc" style="margin-left: 5px; margin-top: 15px; width: 250px; --border-radius: 21px;" color="light">
      <ion-item lines="none" style="width: 200px; --background: transparent">
        <ion-label>{{endSelecionado}}</ion-label>
      </ion-item>
      <ion-icon style="margin-left: 10px;" md="caret-down" ios="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list style="margin-left: 45px; margin-top: 75px;">
      <ion-fab-button *ngFor="let end of enderecos" style="width: 250px; --border-radius: 21px;" color="light">
        <ion-item lines="none" (click)="selecionaEnder(end)" style="width: 250px; --background: transparent">
          <ion-label>{{end.logradouro}}</ion-label>
        </ion-item>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-button (click)="centralizaMapaLoc()" fill="clear" *ngIf="isUsaLoc" style="margin-left: 5px; margin-top: 15px;" color="dark">
      <ion-icon name="location" size="large"></ion-icon>
    </ion-button>
  </ion-fab>

  <ion-grid style="width:100%;height: 100%; padding: 0">
    <ion-row style="height: 85%;">
      <div id="mapcontainer" style="width:100%;height: 100%;"></div>
    </ion-row>
    <ion-row style="height: 15%; width: 100%; background-color: #ffffff;">
        <ion-button (click)="modalPesquisa()" size="large" color="light" strong="true" expand="block" style="width: 90%; margin: 20px auto; ">
          <span style="text-transform:none!important; margin-right: auto;">Pesquisar Produtos</span>
        </ion-button>
    </ion-row>
  </ion-grid>
  
</ion-content>
