<ion-content>
  <img style="height: 40%; width: 100%;" src="{{prod.imgProd}}">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="voltaVitrine()" style="--background: #ffffff42;">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="margin: 20px 10px 0 5%; font-size: 22px; width: 80%; white-space: normal; font-weight: 505;">{{prod.nomeProduto}}</div>
  <div style="margin: 13px 10px 30px 5%; font-size: 12px; width: 80%; white-space: normal">{{prod.descricao}}</div>
  <div style="margin: 13px 10px 30px 5%; font-size: 12px; width: 80%; white-space: normal">R$ {{prod.preco}}</div>
</ion-content>
