<ion-header>
  <ion-toolbar style="height: 70px;" class="justify-content-center">
    <ion-grid>
      <ion-row>
        <ion-col size="auto" style="padding-right: 0; padding-left: 0;">
          <ion-buttons>
            <ion-button (click)="dismissModal()" fill="clear">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="10" style="padding-right: 0; padding-left: 0;">
          <ion-searchbar placeholder="Pesquisar..."
                      [(ngModel)]="textoPesq" 
                      (ionInput)="filtraPesq($event)"
                      clearInput
                      animated="true">
          </ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="margin-top: 15px;" lines="none" (click)="abreVitrine(vendedor)" no-lines *ngFor="let vendedor of vendedoresPesq">
      <ion-avatar slot="start">
        <img src="{{vendedor.imgUser}}">
      </ion-avatar>
      <ion-label>
        <h5>{{vendedor.nome}}</h5>
        <p>{{buscaSegmento(vendedor.codSegmento)}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
