<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-title style="padding:0; margin-left: 15%; height: 100%; text-transform: uppercase; font-size: 4vw; font-weight: 700;">{{modo}} Endereco</ion-title>
        </ion-col>
        <ion-col size="3">
        <ion-buttons>
          <ion-button color="danger" (click)="dismissModal()" fill="clear" size="small">
            FECHAR
          </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="margin: 0 auto; width: 95%; margin-top: 20%">
      <ion-col size="3">
        <ion-item>
          <ion-label color="tertiary" position="stacked">UF</ion-label>
          <ion-select (ionChange)="carregaCidade()" [(ngModel)]="uf" style="font-size: 3.5vw;" [selectedText]="ufNome" interface="popover">
            <ion-select-option *ngFor="let est of estados" value="{{est.id}}">{{est.sigla}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="9">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Município</ion-label>
          <ion-select [(ngModel)]="municipio" [disabled]="!uf" style="font-size: 3.5vw;" [selectedText]="cidadeNome" interface="popover">
            <ion-select-option *ngFor="let cid of cidades" value="{{cid.id}}">{{cid.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 0 auto; width: 90%; margin-top: 10%">
      <ion-col size="6">
        <ion-item style="width: 100%;">
          <ion-label color="tertiary" position="stacked">CEP</ion-label>
          <ion-input [(ngModel)]="cep" [disabled]="!municipio" style="font-size: 3.5vw;"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-button [disabled]="!municipio" fill="clear" size="large">
          <ion-icon color="tertiary" expand="full" name="search-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 0 auto; width: 90%; margin-top: 2%">
      <ion-item style="width: 100%;">
        <ion-label color="tertiary" position="stacked">Logradouro</ion-label>
        <ion-input [(ngModel)]="logradouro" [disabled]="!isCep" style="font-size: 3.5vw;"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row style="margin: 0 auto; width: 90%; margin-top: 7%">
      <ion-col size="4">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Número</ion-label>
          <ion-input [(ngModel)]="numero" [disabled]="!logradouro" style="font-size: 3.5vw;"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Bairro</ion-label>
          <ion-input [(ngModel)]="bairro" [disabled]="!isCep" style="font-size: 3.5vw;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 1px; margin-top: 2%">
      <ion-col size="12" style="padding: 1px;">
        <ion-title color="tertiary" style="text-align: center; margin: 5px 0; font-size: 4vw;">Distância</ion-title>
        <ion-title color="tertiary" style="text-align: center; margin: 5px 0; font-size: 4vw">{{raio}}km</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding: 1px;">
        <ion-list style="padding: 1px;">
          <ion-item lines="none" style="padding: 1px;">
            <ion-range [disabled]="!isCep" [(ngModel)]="raio" style="padding: 1px;" min="1" max="100" color="tertiary">
              <ion-icon color="tertiary" slot="start" size="small" name="location"></ion-icon>
              <ion-icon color="tertiary" slot="end" size="large" name="location"></ion-icon>
            </ion-range>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="tertiary" expand="full" style="width: 85%; margin: 15% auto">
    Salvar
  </ion-button>
</ion-content>
