<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center" style="padding: 0 auto; height: 100%; text-transform: uppercase; font-size: 14px; font-weight: 700;">Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 5px;">
    <ion-item-sliding lines="none">
      <ion-item (click)="acessaVitrine(1)" lines="none" #ionItem id="item1" style="padding:0 ;margin-top: 15px;">
        <ion-icon style="margin-left: 5px; margin-right: 15px; font-size: 30px; color: #57758d;" name="document-text"></ion-icon>
        <ion-label>
          <h2>Mercearia Warus</h2>
          <p style="font-size: 12px; white-space: normal;">O lojista contém produtos em promoção, toque aqui para ser redirecionado para a vitrine.</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="swipedNotification('item1')">
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding lines="none">
      <ion-item (click)="acessaVitrine(3)" lines="none" #ionItem id="item2" style="margin-top: 15px;">
        <ion-icon style="margin-left: 5px; margin-right: 15px; font-size: 30px; color: #57758d;" name="document-text"></ion-icon>
        <ion-label>
          <h2>Padaria Pãodemais</h2>
          <p style="font-size: 12px; white-space: normal;">O lojista contém produtos em promoção, toque aqui para ser redirecionado para a vitrine.</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="swipedNotification('item2')">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
